<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ig.alfredtotp</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>63B7C146-E233-4FA2-931A-82AF15FD2F42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89A8AA06-1196-48F9-80FF-E24B8F90394A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89A8AA06-1196-48F9-80FF-E24B8F90394A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C56CEBC3-D70F-4067-B814-090595D808DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Maxwell Omdal</string>
	<key>description</key>
	<string>Get 2-factor authentication codes in Alfred in a secure way</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred TOTP</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

code=$(security find-generic-password -s $query -w "alfred-totp.keychain")
pass=$(oathtool --totp -b ${code})
echo ${pass}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>89A8AA06-1196-48F9-80FF-E24B8F90394A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>otp</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Get One Time Password</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>63B7C146-E233-4FA2-931A-82AF15FD2F42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C56CEBC3-D70F-4067-B814-090595D808DC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>See https://github.com/iganeshk/alfred-totp/blob/master/README.md on how to get setup.</string>
	<key>uidata</key>
	<dict>
		<key>63B7C146-E233-4FA2-931A-82AF15FD2F42</key>
		<dict>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>89A8AA06-1196-48F9-80FF-E24B8F90394A</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>C56CEBC3-D70F-4067-B814-090595D808DC</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.4</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
