<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.fileimport.BB9B7064-65C3-40AA-9778-DB03CABBB57A</string>
	<key>lightthemeuid</key>
	<string>theme.fileimport.BB9B7064-65C3-40AA-9778-DB03CABBB57A</string>
</dict>
</plist>
