<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>11DEE018-DA7C-4B47-B9F1-1065875E2BC6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nyt</string>
			<key>text</key>
			<string>New York Times</string>
			<key>url</key>
			<string>https://www.nytimes.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2B860689-BA00-476E-B6FB-10B28214B477</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mastodon</string>
			<key>text</key>
			<string>Mastodon</string>
			<key>url</key>
			<string>https://fosstodon.org</string>
		</dict>
		<key>2CB5311B-197C-407E-A507-FFA6B874E2F9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gl me</string>
			<key>text</key>
			<string>Search My Gitlab Merge Requests</string>
			<key>url</key>
			<string>https://gitlab.veevadev.com/dashboard/merge_requests?scope=all&amp;state=all&amp;assignee_username=maxwell.omdal&amp;search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4230F5D1-D7C0-47E1-BAE3-3C45AD8254B7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>nyt style</string>
			<key>text</key>
			<string>NYT Style</string>
			<key>url</key>
			<string>https://www.nytimes.com/section/t-magazine</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>70E63935-E1C8-4311-AB27-A3AA7F2AF433</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>confluence</string>
			<key>text</key>
			<string>Confluence</string>
			<key>url</key>
			<string>https://veevasys.okta.com/home/confluence_onprem/0oa12fc1w3hEPm06B0i8/3523?fromHome=true</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8833AB90-8AA0-4845-BD76-8B3E2071190A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gl review</string>
			<key>text</key>
			<string>Gitlab Review Requests</string>
			<key>url</key>
			<string>https://gitlab.veevadev.com/dashboard/merge_requests?reviewer_username=maxwell.omdal</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A74A7C1C-054B-439A-9A00-44083CD3CD92</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>share</string>
			<key>spaces</key>
			<string>%20</string>
			<key>text</key>
			<string>Veeva Share</string>
			<key>url</key>
			<string>https://veeva.veevashare.com/search/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C087B013-8F76-4B19-8D23-F92923E96CB7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jira</string>
			<key>text</key>
			<string>Jira</string>
			<key>url</key>
			<string>https://jira.veevadev.com/secure/RapidBoard.jspa?rapidView=517&amp;view=detail&amp;selectedIssue=VDC-75295&amp;quickFilter=19323</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C3CD2ACB-2624-4E0D-BC4C-50D8322571C2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rss</string>
			<key>text</key>
			<string>Fresh RSS</string>
			<key>url</key>
			<string>http://hermes.local/i/</string>
		</dict>
		<key>C85B4D63-93D1-4302-A164-5F88D7D31F3F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gl me</string>
			<key>text</key>
			<string>My Merge Requests</string>
			<key>url</key>
			<string>https://gitlab.veevadev.com/dashboard/merge_requests?scope=all&amp;state=opened&amp;assignee_username=maxwell.omdal</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
