<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.doriankarter.com</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>84C85646-7A61-4254-9400-91AB5F0CC1A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92D9A8E4-85F4-4AC1-8537-71CB6D775A8A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92D9A8E4-85F4-4AC1-8537-71CB6D775A8A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A85F5A02-F20B-455B-AA18-7C08E7E8E42F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A85F5A02-F20B-455B-AA18-7C08E7E8E42F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B636C1F-279F-47BF-8879-8DE040240F93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9D2E1135-B70F-4F35-90D4-71E8B698A543</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D99ADB84-4EBC-4713-B7E5-025F4048BEA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE0C7F2F-9ECD-4D30-B5E0-59363DF86690</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0E73E65-9CAC-4DBC-B682-A40925BAA6ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2B9D2C2-346E-4BE1-8219-BD6D33C5F41C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AE0C7F2F-9ECD-4D30-B5E0-59363DF86690</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2C087B6-1C51-494C-9688-82D11759F0F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C87DEC54-CB7A-4516-95E2-ADEA9660B9F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C87DEC54-CB7A-4516-95E2-ADEA9660B9F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2ADAD46A-BA83-4318-8268-48AA3C76A9A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0E73E65-9CAC-4DBC-B682-A40925BAA6ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F238017-0AE0-4C2D-A504-5FFF5CAD2C08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFCBB213-B62C-429A-AE57-5CFD0D02358E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84C85646-7A61-4254-9400-91AB5F0CC1A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dorian Karter</string>
	<key>description</key>
	<string>Autocomplete duckduckgo's bangs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>!BANG</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>!</string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C2B9D2C2-346E-4BE1-8219-BD6D33C5F41C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>!</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string># frozen_string_literal: true

require 'json'

file_path = File.join(ENV['alfred_workflow_cache'], 'bangs.json')
bangs = File.read(file_path)

script_filter_items = JSON.parse(bangs).map do |bang|
  bang_cmd = "!#{bang['t']}"
  {
	uid: "#{bang['t']}",
    title: "!#{bang['t']} #{bang['s']}",
    subtitle: bang['c'],
    arg: bang_cmd,
    match: "#{bang['t']} #{bang['s']} #{bang['c']}",
    autocomplete: "#{bang['t']}"
  }
end.sort { |a, b| a[:title] &lt;=&gt; b[:title] }

puts({ items: script_filter_items }.to_json)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Start typing a service you want to search</string>
				<key>title</key>
				<string>Bang</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AE0C7F2F-9ECD-4D30-B5E0-59363DF86690</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>bang_search</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3F238017-0AE0-4C2D-A504-5FFF5CAD2C08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://duckduckgo.com/?q={var:bang}%20{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2ADAD46A-BA83-4318-8268-48AA3C76A9A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter Search Query</string>
				<key>text</key>
				<string>{var:bang} Search</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C87DEC54-CB7A-4516-95E2-ADEA9660B9F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>bang_search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>C2C087B6-1C51-494C-9688-82D11759F0F5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>bang</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E0E73E65-9CAC-4DBC-B682-A40925BAA6ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>!BANG autocompletion data updated successfully</string>
				<key>title</key>
				<string>Updated successfully</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7B636C1F-279F-47BF-8879-8DE040240F93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>!update</string>
				<key>subtext</key>
				<string>Fetches latest bangs from duckduckgo</string>
				<key>text</key>
				<string>Update Bangs</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EFCBB213-B62C-429A-AE57-5CFD0D02358E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>[ -d "$alfred_workflow_cache" ] || mkdir -p "$alfred_workflow_cache"

curl -sS 'https://duckduckgo.com/bang.js' \
     -H 'Accept: application/json, text/javascript, */*; q=0.01' \
     -H 'Accept-Language: en-US,en;q=0.5' \
     -H 'Referer: https://duckduckgo.com/' \
     -H 'X-Requested-With: XMLHttpRequest' \
     -H 'Pragma: no-cache' \
     -H 'Cache-Control: no-cache' \
     &gt; "$alfred_workflow_cache/bangs.json" \
     &amp;&amp; \
     echo 'success'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>84C85646-7A61-4254-9400-91AB5F0CC1A1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>success</string>
						<key>outputlabel</key>
						<string>notify update success</string>
						<key>uid</key>
						<string>9D2E1135-B70F-4F35-90D4-71E8B698A543</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>notify update failure</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A85F5A02-F20B-455B-AA18-7C08E7E8E42F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>92D9A8E4-85F4-4AC1-8537-71CB6D775A8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>!BANG autocompletion data failed to update</string>
				<key>title</key>
				<string>Update failed!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D99ADB84-4EBC-4713-B7E5-025F4048BEA4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow will download bang completion data from DuckDuckGo and allow you to discover new bangs by using the `!` keyword or &lt;Ctrl+!&gt;.

You must run the !update script before using it.

Changes:

1.0.4
- Changed the update script to reference a more up to date bangs list (thanks @Heneli Kailahi)</string>
	<key>uidata</key>
	<dict>
		<key>2ADAD46A-BA83-4318-8268-48AA3C76A9A2</key>
		<dict>
			<key>xpos</key>
			<integer>1185</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>3F238017-0AE0-4C2D-A504-5FFF5CAD2C08</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>7B636C1F-279F-47BF-8879-8DE040240F93</key>
		<dict>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>84C85646-7A61-4254-9400-91AB5F0CC1A1</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>92D9A8E4-85F4-4AC1-8537-71CB6D775A8A</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>A85F5A02-F20B-455B-AA18-7C08E7E8E42F</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>515</integer>
		</dict>
		<key>AE0C7F2F-9ECD-4D30-B5E0-59363DF86690</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>C2B9D2C2-346E-4BE1-8219-BD6D33C5F41C</key>
		<dict>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>C2C087B6-1C51-494C-9688-82D11759F0F5</key>
		<dict>
			<key>xpos</key>
			<integer>785</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>C87DEC54-CB7A-4516-95E2-ADEA9660B9F9</key>
		<dict>
			<key>xpos</key>
			<integer>965</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>D99ADB84-4EBC-4713-B7E5-025F4048BEA4</key>
		<dict>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>E0E73E65-9CAC-4DBC-B682-A40925BAA6ED</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>EFCBB213-B62C-429A-AE57-5CFD0D02358E</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.4</string>
	<key>webaddress</key>
	<string>https://doriankarter.com</string>
</dict>
</plist>
