; | key  | meaning                                                |
; | ---- | ------------------------------------------------------ |
; | !    | means mandatory                                        |
; | #    | means optional                                         |
; | C    | left_command                                           |
; | T    | left_control                                           |
; | O    | left_option                                            |
; | S    | left_shift                                             |
; | F    | fn                                                     |
; | Q    | right_command                                          |
; | W    | right_control                                          |
; | E    | right_option                                           |
; | R    | right_shift                                            |
; | P    | caps_lock                                              |
; | !!   | mandatory command + control + optional + shift (hyper) |
; | \#\# | optional any                                           |

{
    :templates {
        :launch "open -a \"%s\""
    }

    ; Get bundle id with
    ; > osascript -e 'id of app "SomeApp"'
    :applications {
        :chrome ["^com\\.google\\.Chrome$"]
        :firefox ["^org\\.mozilla\\.firefox(developeredition)?$"]
        :slack ["^com\\.tinyspeck\\.slackmacgap$"]
        :kitty ["i^net\\.kovidgoyal\\.kitty$"]
    }
    
    :main [
        {:des "cmd-p to cmd-l" :rules [[:!Cp :!Cl :chrome]]}
        {:des "cmd-p to cmd-l" :rules [[:!Cp :!Cl :firefox]]}
        {:des "cmd-p to cmd-l" :rules [[:!Cp :!Cl :firefox]]}
        {:des "cmd-l to cmd-p" :rules [[:!Cl :!Cp :chrome]]}
        {:des "cmd-l to cmd-p" :rules [[:!Cl :!Cp :firefox]]}
        {:des "cmd-l to cmd-p" :rules [[:!Cl :!Cp :firefox]]}
        {:des "ctrl-tab to ctrl-j" :rules [[:!Tj :!Ttab :firefox]]}
        {:des "ctrl-shift-tab to ctrl-k" :rules [[:!Tk :!TStab :firefox]]}
        {:des "cmd-shift-c to fn9" :rules [[:!CSr :f9 :firefox]]}
        {:des "ctrl-l to opt-period" :rules [[:!Tl :!Operiod :firefox]]}
        {:des "ctrl-h to opt-comma" :rules [[:!Th :!Ocomma :firefox]]}
        {:des "ctrl-tab to ctrl-j" :rules [[:!Tj :!Ttab :firefox]]}
        {:des "slack open sidebar" :rules [[:!OTz :!CRd :slack]]}
        {:des "zsh autosuggestions accept" :rules [[:!Creturn_or_enter :!Cspacebar :kitty]]}
        {:des "caps_lock to cmd-opt-ctrl-shift-space"
         :rules [[:caps_lock :!QWEright_option]
                 [:!Ccaps_lock :!Ctab]
                 [:!QWEs [:launch "Slack"]]
                 [:!QWEf [:launch "Firefox"]]
                 [:!QWEe [:launch "IntelliJ IDEA"]]
                 [:!QWEm [:launch "Music"]]
                 [:!QWEz [:launch "zoom.us"]]
                 [:!QWEt [:launch "kitty"]]]
        }
        {:des "Disable caps-lock" :rules [[:##caps_lock :vk_none]]}
        {:des "Quit application by pressing command-q twice" 
         :rules [[:!C#Pq [:!Cq ["command-q" 0]] ["command-q" 1]]
                 [:!C#Pq ["command-q" 1] nil {:delayed {:invoked ["command-q" 0] :canceled ["commandq" 0]}}]]}
    ]
}

